<!DOCTYPE html>
<html>
  <head>

  	<title>Blog</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		
		<header id="main_navigation" class="clearfix">
		<%= link_to "Davi Pereira", root_path, class: "name" %>
			<nav>
			<%= link_to "Articles", posts_path %>
				<a href="#">Projects</a>
				<a href="#">Contact</a>
			</nav>
		</header>


    <%= yield %>


			<footer id="main_footer">
				<p class="copyright">&copy;2016 Davi Pereira</p>
				<nav>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-github"></i></a>
				</nav>
			</footer>

  </body>
</html>
